@font-face {
   font-family: 'gidoleregular';
   src: url('../fonts/gidole-regular-webfont.woff2') format('woff2'),
   url('../fonts/gidole-regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
body { background-color: #ffffff; }
table { overflow-x: scroll; }
.btn-container { margin-top: 10px; margin-bottom: 20px; margin-left: 10px; }
.btn-add { background-color: #053966; color: #ffffff; padding: 7px 50px; border: 1px solid #ffffff; }
.btn-add:hover, .btn-add:focus { background-color: #ffffff; color: #053966; border: 1px solid #053966; }

/* LOADER */
.loader { border: 16px solid #f3f3f3; border-radius: 50%; border-top: 16px solid #053966; border-bottom: 16px solid #053966; width: 120px; height: 120px; -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite; }
.loader-lg { width: 120px; height: 120px; }
.loader-md { width: 50px; height: 50px; }
.loader-sm { width: 20px; height: 20px; }
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* LOADER */

.row.container-content { height: 450px; }
.row.container-content > div { padding: 0; }
.row.container-content .title-page { background-image: url('../img/bg-home-customer.jpg'); background-size: 100% auto; padding: 20px; text-align: right; }
.row.container-content .title-page h1 { color: #ffffff; font-family: 'gidoleregular'; margin: 0; font-size: 20px; font-weight: normal; } 
.row.container-content .col-sm-12 { margin: 0; padding: 0; }
.row.container-content .content > div { text-align: left; }

.green { color: #36a93b; }
.purple { color: #9069cd; }
.blue { color: #00a7f6; }
.red { color: #fb504e; }
.row.container-content .content { }
.row.container-content .content .welcome { width: 60%; margin: 0 auto; text-align: justify; }
.row.container-content .content .datas { margin: 10px; background-color: #ebeff3; }
.row.container-content .content .datas > div { margin: 1%; background-color: #ffffff; padding: 10px; }
.row.container-content .content .datas > div.col-sm-11 { padding: 30px; }
.row.container-content .content > div .title-section { font-weight: bold; padding-bottom: 10px; }
.row.container-content .content > div .chart { font-size: 30px; float: left; color:  }
.row.container-content .content > div .total-summary { font-size: 30px; float: right; }

#container-content { background-color: #fafafa; }
#container-content .content { background-color: #ffffff; }

#sidebar { padding: 0px; }
.sidebar-nav { text-align: left; }
.sidebar-nav .nav > li > a:focus,
.sidebar-nav .nav > li > a:hover,
.sidebar-nav .nav li.active,
.sidebar-nav .nav li.active a { background-color: #3AB54A; color: #ffffff; }
.container-trailing { padding: 0px; text-align: left; margin-bottom: 10px; }
.container-trailing > .trailing { background-color: #efefef; padding: 10px; }

/* #dataTables thead { background-color: #053966 !important; color: white; } */

footer { background-image: url('../img/header_bg.jpg'); color: white; padding: 10px; }
footer p { padding: 0; margin: 0; }

@media screen and (min-width: 767px) {
   .row.container-content .content .datas .col-sm-5 { width: 44%; }
   .row.container-content .content .datas .col-sm-6 { width: 52%; }
   .row.container-content .content .datas .col-sm-11 { width: 98%; }
}

@media screen and (max-width: 768px) {
   .row-offcanvas {
      position: relative;
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
      background:#ecf0f1;
   }
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
   .sidenav {
      height: auto;
      padding: 15px;
   }
   .row.content {height:auto;} 
}

@media screen and (min-width: 1345px){
   nav .logo, #sidebar { width: 224px; }
}

@media screen and (max-height: 575px) {
  #rc-imageselect, .g-recaptcha {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;}
}